numpy==1.26.4
numba==0.59.1
llvmlite==0.42.0
librosa==0.10.2.post1
pydub==0.25.1
opencv-python-headless==4.10.0.84
soundfile==0.12.1

transformers==4.48.3
huggingface_hub==0.24.6
diffusers==0.29.2
accelerate==0.31.0
conformer==0.3.2
encodec==0.1.1
hyperpyyaml==1.2.2
inflect==7.0.0
omegaconf==2.3.0

edge-tts==6.1.9
gtts==2.5.0
httpx==0.28.1
pydantic==2.10.6
setuptools<81
